#countryDayWidget {
   box-sizing: border-box;
   padding: 5px;
   margin: 0px;
   overflow-x: hidden;
}

#countryDayWidget h1,
#countryDayWidget h2,
#countryDayWidget p {
   font-family: Helvetica, Arial, sans-serif;
   font-weight: 100;
   margin-bottom: 10px;
   color: #1f1f1f;
}

#countryDayWidget h1 {
   margin-top: -5px;
   font-size: 25px;
}

#countryDayWidget aside:nth-of-type(1) p {
   margin-top: -5px;
   font-size: 9px;
}

#countryDayWidget aside p {
   font-size: 14px;
}

#countryDayWidget [alt*='Flag'] {
   width: 100%;
   margin-bottom: 10px;
   margin-right: 20px;
}

#countryDayWidget a {
   color: steelblue;
}

#countryDayWidget button {
   padding: 4px;
   border-radius: 2.5px;
   background: #0076C6;
   color: #FFF;
   border: 1px solid #0066ab;
   cursor: pointer;
}

#countryDayWidget button:hover {
   background: #0081d9;
}

#countryDayWidget button:active {
   border: 1px solid #0076C6;
   background: #006bb3;
}
