#countryDayWidget {
   box-sizing: border-box;
   padding: 0px;
   margin: 0px;
}

#countryDayWidget main {
   background-color: #f0f0f0;
   padding: 20px;
}

#countryDayWidget article {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

#countryDayWidget aside {
   flex-grow: 0;
}

#countryDayWidget aside:nth-of-type(2) {
   margin-left: 20px;
}

#countryDayWidget aside:nth-of-type(2) p {
   text-decoration: underline;
   cursor: pointer;
   color: steelblue;
}

#countryDayWidget h1,
#countryDayWidget h2,
#countryDayWidget h3,
#countryDayWidget h4,
#countryDayWidget h5,
#countryDayWidget h6,
#countryDayWidget p {
   font-family: Helvetica, "Century Gothic", sans-serif;
   font-weight: 100;
   margin-bottom: 10px;
   color: #1f1f1f;
}

#countryDayWidget h1 {
   font-size: 36px;
}

#countryDayWidget p {
   font-size: 19px;
}

#countryDayWidget [alt*='Flag'] {
   width: 350px;
   margin-bottom: 10px;
}

#countryDayWidget a {
   color: steelblue;
}
